/** end contact **/
.pdn-top-30 {
    margin-top: 50px;
    padding-top: 60px;
}
.footer {
    background-color: #051108;
    text-align: center;
}
.footer .headinga h3 {
    
   font-size: 38px;
   display: block;
   color: #fff;
   max-width: 850px;
   padding-bottom: 1px;
   border-bottom: #fff solid 1px;
   text-align: center;
   margin: 0 auto;
   margin-bottom: 0px;
   margin-bottom: 30px;

}
.footer .headinga span {
    
    font-size: 17px;
    display: block;
    color: #fff;
    padding-top: 10px;
    padding-bottom: 5px;
}
.footer .headinga p {
    
    font-size: 17px;
    display: block;
    color: #fff;
    line-height: 30px;
}
ul.link li {
    display: inline-block;
    padding: 8px 15px;
    
    
}
ul.link li a {
    color: #fff;
    font-size: 17px;
    
}
ul.link li a:hover {
    color: #ff0000;
}

ul.location_icon {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 5px;
}
ul.location_icon li {
    float: left;
    height: 60px;
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-right: 20px;
}
ul.location_icon li:last-child {
    padding-right: 0px;
}
ul.location_icon li a {
color: #fff;
width: 40px;
height: 40px;
border: solid #fff 1px;
float: left;
text-align: center;
line-height: 40px;
border-radius: 100%;
font-size: 18px;
} 

ul.location_icon li a:hover {
background: #ff0000;
border: solid #ff0000 1px;        
color: #fff;
}

ul.location_icon span {
    font-size: 17px;
    font-weight: 400;
}
.copyright {
    background: #fff;
    padding: 20px 0px 20px 0;
    margin-top: 50px;
}
.copyright p {
    color: #000;
    font-size: 16px;
    text-align: center;
    text-align: center;
    margin: 0 auto;
}
.copyright a {
    color: #000;
}
.copyright a:hover {
    color: #ff0000;
}
.btn-primary.focus,
.btn-primary:focus {
    box-shadow: inherit;
}

/*--------------------------------------------------------------------- inner_page css ---------------------------------------------------------------------*/

.brand_color {
    background-color: #ddd;
}
.brand_color .titlepage {
    margin-top: 90px;
    padding-bottom: 90px;
}

.brand_color .abouttitle h2 {
    color: #fff;
    text-transform: uppercase;
    font-size: 40px;
    line-height: 45px;
    padding: 40px 0;
    font-weight: 500;
    text-align: center;
}
.contact-page .Contact {
    margin-top: 0px;
}
.contact-page .form-control {
    margin-bottom: 20px;
}